* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 48px;
  padding: 40px;
  width: 1024px;
  margin: 0 auto;
}

.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.flashcards__item {
  background-color: #e4dcdc;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  cursor: pointer;
}

.selected {
  background-color: #e03131;
  color: #fff;
  font-weight: bold;
}
